#offcanvas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(var(--dark-blue-900), 0.96);
  position: absolute;
  width: 100%;
  z-index: 1000;
  height: 100%;
  opacity: 0;
  /* transition: opacity 500ms; */
}

#offcanvas li:not(:last-child) a {
  text-decoration: none;
  color: white;
}

#offcanvas li:not(:last-child) a:hover {
  transition: color 0.5s;
  color: #ccc;
}

.offcanvas_footer {
  flex-grow: 1;
  align-items: flex-end;
}

.offcanvas_body {
}

.offcanvas_body li:not(:last-child) {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
