.footer {
  background-color: hsl(var(--soft-blue));
}

.footer span,
.footer p {
  color: white;
  letter-spacing: 0.2rem;
}

.footer a {
  text-decoration: none;
  transition: all 0.25s;
}
.footer a:hover {
  color: hsl(var(--soft-red)) !important;
}
.footer svg path {
  transition: all 0.25s;
}
.footer svg:hover path {
  fill: hsl(var(--soft-red));
}

@media (min-width: 768px) {
  .footer p {
    width: 50%;
  }
}

.footer-nav {
  background-color: hsl(var(--dark-blue-900));
}
